@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,300;0,400;1,500;1,800&display=swap");

@font-face {
	font-family: "Louis George Café Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Louis George Café Bold"),
		url("./Louis-George-font/Louis-George-Cafe-Bold.woff"), format("woff");
}

@font-face {
	font-family: "Louis George Café Bold Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Louis George Café Bold Italic"),
		url("./Louis-George-font/Louis-George-Cafe-Bold-Italic.woff") format("woff");
}

html {
	scroll-behavior: smooth;
}

:root {
	box-sizing: border-box;
	--petrona: "Petrona", serif;
	--louis-george-bold-italic: "Louis George Café Bold Italic";
	--louis-george-bold: "Louis George Café Bold";
	--color-action: #fe7814;
	--color-tomato: #ff5548;
	--color-grey: #707070;
	--color-black: #010102;
	--color-facebook: #4267b2;
	--color-instagram: #c13584;
	--color-twitter: #1da1f2;
	--color-bg-back: #010102;
	--color-bg-hero: #fcf9f3f0;
	--color-bg-tomato: #fae8e2f0;
	--color-bg-pepper: #fcf6ecf0;
	--color-bg-contact: #f6eaf0f0;
	--color-bg-white: #fffffff0;
	--color-bg-white-soft: #ffffff99;
}
* {
	box-sizing: inherit;
}

*,
*:focus {
	outline-color: var(--color-action);
}

@media only screen and (max-width: 1024px) {
	html {
		scroll-behavior: initial;
	}
}

/* animations
------------------------------ */
@-webkit-keyframes scale-in-tl {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
}
@keyframes scale-in-tl {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 0% 0%;
		transform-origin: 0% 0%;
		opacity: 1;
	}
}

@-webkit-keyframes scale-out-tl {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes scale-out-tl {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		opacity: 1;
	}
}

/* bg colors 
------------------------------*/

.bg-yellow {
	background: var(--color-bg-hero);
}

.bg-tomato {
	background: var(--color-bg-tomato);
}
.bg-pepper {
	background: var(--color-bg-pepper);
}
.bg-purple {
	background: var(--color-bg-contact);
}
.bg-black {
	background: var(--color-bg-back);
}
.bg-button {
	background: var(--color-action);
}
.bg-white {
	background: var(--color-bg-white);
}
.bg-hard-tomato {
	background: var(--color-tomato);
}
.bg-full-white {
	background: white;
}
.bg-white-soft {
	background: var(--color-bg-white-soft);
}

/* colors 
------------------------------*/

.tomato {
	color: var(--color-tomato);
}
.carrot {
	color: var(--color-action);
}
.black {
	color: var(--color-black);
}
.grey {
	color: var(--color-grey);
}
.facebook {
	color: var(--color-facebook);
}
.instagram {
	color: var(--color-instagram);
}
.twitter {
	color: var(--color-twitter);
}
.white {
	color: white;
}

/* Layout 
--------------------------------*/

body {
	margin: 0;
	padding: 0;
	background: url(../assets/website-background-texture-06.jpg);
}

nav {
	height: 160px;
}
.position-fixed {
	position: fixed;
	right: 0;
	z-index: 98;
}

.flex {
	display: flex;
}
.just-center {
	justify-content: center;
}
.just-space-btw {
	justify-content: space-between;
}
.justify-end {
	justify-content: flex-end;
}
.column {
	flex-direction: column;
}
.center {
	place-content: center;
}
.align-center {
	align-items: center;
}
.align-start {
	align-self: flex-start;
}
.align-end {
	align-self: flex-end;
}
.self-center {
	align-self: center;
}
.gap-1rem {
	gap: 1rem;
}
.gap-2rem {
	gap: 2rem;
}
.gap-4rem {
	gap: 4rem;
}

.order-1 {
	order: -1;
}

.order {
	order: 1;
}
.height100 {
	height: 100%;
}

.content-fit {
	width: fit-content;
}
.rounded {
	border-radius: 10px;
}
.wrap {
	flex-wrap: wrap;
}
.wrap-reverse {
	flex-wrap: nowrap;
}

.hero > * {
	flex: 1 1 100%;
}

.card {
	flex: 1 0 200px;
}
@media only screen and (max-width: 1680px) {
	.card {
		flex: 1 0 250px;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap-reverse {
		flex-wrap: wrap-reverse;
	}
	.order {
		order: -1;
		display: flex;
		justify-content: center;
	}
	.info-container > * {
		flex: 1 1 100%;
	}
	.margin-auto {
		margin: 0 auto;
	}
	.center-center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 767px) {
	.card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.center {
		align-self: center;
	}

	.order-1 {
		order: 1;
	}

	.phone-column {
		flex-direction: column;
		justify-content: center;
		gap: 3rem;
		align-items: center;
	}

	.phone-column-end {
		flex-direction: column;
		grid-gap: 4rem;
	}
	.phone-self-end {
		align-self: flex-end;
		margin-right: -10px;
	}
	.info-container {
		flex-wrap: wrap;
	}

	.al-flex-start {
		align-items: flex-start;
	}
}

/* margins and paddings 
---------------------------------*/

.m-top-40 {
	margin-top: 40px;
}
.p-all-2rem {
	padding: 2rem;
}
.p-t-b-4rem {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.p-l-r-7rem {
	padding-left: 10rem;
	padding-right: 10rem;
}
.p-all-1rem {
	padding: 1rem;
}

@media only screen and (max-width: 1550px) {
	.p-l-r-5rem {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}
@media only screen and (max-width: 768px) {
	.p-l-r-2rem {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.p-l-r-0 {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width: 767px) {
	.p-l-r-2rem {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* Typography 
---------------------------------*/

h1 {
	font: 3rem var(--louis-george-bold-italic);
	margin-bottom: 0;
}
h2 {
	font: italic 700 3rem var(--petrona);
}
h3 {
	font: 2.3rem/40px var(--louis-george-bold);
}

.medium-it-24 {
	font: italic 400 1.4rem var(--petrona);
}

.subheader {
	margin-top: 0;
}
.uppercase {
	text-transform: uppercase;
}
.petrona-bold-32 {
	font: bold 2rem/2rem var(--petrona);
}

.petrona-reg-24 {
	font: 1.5rem/35px var(--petrona);
}
.petrona-reg-20 {
	font: 1.25rem/28px var(--petrona);
}

.petrona-light {
	font: 300 1.3rem var(--petrona);
}

.louise-bold-24px {
	font: 1.5rem var(--louis-george-bold);
}
.louise-bold-20px {
	font: 1.2rem var(--louis-george-bold);
}

@media only screen and (max-width: 1024px) {
	.louise-bold-32px {
		font: 2rem var(--louis-george-bold);
	}
}

@media only screen and (max-width: 1023px) {
	.louise-bold-32px {
		font: 2rem var(--louis-george-bold);
	}
	h3 {
		font: 1.5rem/30px var(--louis-george-bold);
	}

	.petrona-reg-16 {
		font: 1rem/20px var(--petrona);
	}
	.louise-bold-16px {
		font: 1rem var(--louis-george-bold);
	}
	h1 {
		font: 1.5rem var(--louis-george-bold-italic);
		text-align: center;
	}
	.subheader {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	h1 {
		font: 1.5rem var(--louis-george-bold-italic);
		margin-bottom: 0;
	}
	h2 {
		font: italic 700 1.2rem var(--petrona);
	}
	h3 {
		font: 1.2rem/30px var(--louis-george-bold);
		margin-bottom: 0;
	}

	.petrona-reg-16 {
		font: 1rem/20px var(--petrona);
	}
	.petrona-light {
		font: 300 1rem var(--petrona);
	}
	.petrona-bold-20-center {
		font: 1.2rem var(--louis-george-bold);
		text-align: center;
	}
	.petrona-reg-16-center {
		font: 1rem/24px var(--petrona);
	}
}

/* button 
------------------------------------*/

.p-button-2-6 {
	padding: 1rem 5rem;
}
button {
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-tomato);
}
button:hover {
	box-shadow: none;
	transform: translateX(1px);
}
.no-style {
	padding: 1rem;
	box-shadow: none;
	margin: 1rem;
	display: none;
}

@media only screen and (max-width: 1024px) {
	.button-large {
		padding: 3rem 10rem;
	}
}
@media only screen and (max-width: 767px) {
	.button-large,
	.p-button-2-6 {
		padding: 1rem 2rem;
	}
}

/* height main divs and sections 
-----------------------------------*/

.full-height {
	min-height: 100vh;
}
.height160 {
	height: 160px;
}
.hero-height {
	min-height: calc(100vh - 160px);
}
.mid-height {
	min-height: 60vh;
}
.small-height {
	min-height: 30vh;
}
.square-100 {
	width: 100%;
	aspect-ratio: 1/1;
}
.square-40 {
	height: 40px;
	width: 40px;
}
.height100 {
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.full-height {
		min-height: 150vh;
	}
}

/* header  
--------------------------------*/

.logo {
	width: 100px;
}

ul {
	list-style: none;
	padding: 0;
}
nav a {
	text-decoration: none;
}
nav a:link {
	color: var(--color-action);
}
nav a:visited {
	color: var(--color-tomato);
	transition-duration: 0.3s;
}
nav a:hover {
	transition-duration: 0.3s;
	color: var(--color-tomato);
	border-bottom: 4px solid var(--color-action);
}

nav a:active {
	color: var(--color-tomato);
}

@media only screen and (max-width: 1024px) {
	.navigation {
		position: fixed;
		z-index: 99;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: white;
		align-items: center;
		justify-content: center;
		transform: scale(0);
	}
	nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* margin: 30% 0; */
	}
	nav ul {
		flex-direction: column;
		padding: 0;
	}

	nav ul {
		font: 2rem var(--louis-george-bold);
	}
	.close,
	.open {
		position: fixed;
		margin: 2rem 0 0 0;
		z-index: 98;
	}
	.show {
		display: block;
	}

	.close {
		z-index: 100;
	}

	.scale-in-tl {
		-webkit-animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			alternate both;
		animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate
			both;
	}
	.scale-out-tl {
		-webkit-animation: scale-out-tl 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
			alternate both;
		animation: scale-out-tl 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate
			both;
	}
}

@media only screen and (max-width: 767px) {
	.logo {
		width: 100px;
	}
}

/* hero text
----------------------------- */

.width-70ch {
	max-width: 70ch;
}

.width-50ch {
	max-width: 50ch;
}
@media only screen and (max-width: 1023px) {
	.width-40ch {
		max-width: 40ch;
	}
}

/* Images 
-----------------------------*/

.w200-250 {
	min-width: 200px;
	max-width: 250px;
}
.width150 {
	width: 150px;
}

.width-clamp {
	width: clamp(250px, 350px, 450px);
}
.contain {
	width: 100%;
}

@media only screen and (max-width: 1520px) {
	.width-clamp {
		width: clamp(250px, 300px, 350px);
	}
}

@media only screen and (max-width: 1023px) {
	.width-clamp {
		width: clamp(125px, 275px, 350px);
	}
}
@media only screen and (max-width: 767px) {
	.width-clamp {
		width: clamp(125px, 170px, 200px);
	}
}

/* positioning images
------------------------------ */
.pos-b-r {
	position: absolute;
	bottom: 5%;
	right: 10%;
	z-index: 2;
}
.pos-b-l {
	position: absolute;
	bottom: 5%;
	left: 10%;
	z-index: 2;
}

.relative {
	position: relative;
}

.pos-b-extra-r {
	position: absolute;
	bottom: 5%;
	right: 0;
	z-index: 2;
}

@media only screen and (max-width: 767px) {
	.pos-b-r {
		position: initial;
		bottom: initial;
		right: initial;
	}
	.pos-b-l {
		position: initial;
		bottom: initial;
		left: initial;
	}
	.pos-b-extra-r {
		position: relative;
		bottom: initial;
		right: initial;
	}
}

/* video 
--------------------------------*/

.video-container {
	max-width: 100%;
	height: auto;
	aspect-ratio: 9/16;
}

.video {
	height: 100%;
	width: 100%;
	background: center / contain no-repeat url(../assets/2.3\ mil\ video.png);
}
@media only screen and (min-width: 768px) {
	.video-container {
		max-width: 350px;
		height: 600px;
		aspect-ratio: 9/16;
	}
}

/* form
------------------------------------- */

input,
textarea {
	padding: 1rem;
	border-radius: 10px;
	border: none;
	font: 1rem var(--petrona);
}
textarea {
	height: 20ex;
}

/* parallax */

/* .parallax {
	 height: 500px; fallback for older browsers
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 1000px;
	perspective: 1000px;

	perspective-origin: center;
} */

/* .parallax__group {
	position: relative;
	height: 500px;fallback for older browsers 
	height: 150vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: flex;
}

.parallax__layer {
	transform-origin: center;
} */

/* .parallax__layer--fore {
	-webkit-transform: translateZ(90px) scale(0.7);
	transform: translateZ(90px) scale(0.7);
	z-index: 1;
} */

/* .parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.parallax__layer--back {
	-webkit-transform: translateZ(-50vh) scale(2);
	transform: translateZ(-50vh) scale(2);
	z-index: 3;  */

/* demo styles
  --------------------------------------------- */

/* body,
html {
	overflow: hidden;
} */

/* style the groups
  --------------------------------------------- */

/* #group1 {
	z-index: 2;
} */
/* 
.parallax-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-perspective: 8px;
	perspective: 8px;
	-webkit-perspective-origin: 0%;
	perspective-origin: 0%;
}

.parallax-element {
	position: absolute;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	width: 420px;
	height: 420px;
	-webkit-transform: translateZ(0px) scale(1);
	transform: translateZ(0px) scale(1);
	height: 840px;
} */
